<!DOCTYPE html>
<html>
<head>
  <title>Indexzero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <div class="main">
    <div class="main_left">
    aaaa
    </div>

    <div class="main_center">

    <%= yield %>

    </div>

    <div class="main_right">
    </div>
  </div>

</body>
</html>
